@import 'less/reset.less';
@import 'less/vars.less';
@import 'less/fonts.less';

body {
	position: relative;
	font: @body-mobile;
	@media @desktop {
		font: @body-desktop;
	}
}

.hero-image {
	background: url('/images/background-image.jpg') 50% 0 no-repeat;
	background-size:cover;
	position: relative;
	height: 300px;
	margin-top: 60px;
	.transition-properties(all .3s ease-in-out);
	@media @desktop {
		margin-top: 72px;
		height: 712px;
		margin-bottom: 0;
	}
}

h1 {
  position: relative;
  margin: 0;
  letter-spacing: -0.06em;
  color: #000;
  font: @head-mobile;
  text-align: left;
  padding: 0 24px;
  margin: 50px 0;
  
  @media @desktop {
  	position: absolute;
	font: @head-desktop;
	color:#FFF;
	text-align: center;
	bottom: auto;
	top: 25%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 70%;
	padding: 0;
	margin: 0;
	.transition-properties(all .3s ease-in-out);
  }
  @media @desktop-large {
	  	font: @head-desktop-large;
	  }
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-toggle{
	background: none;
	border: 0 none;
	line-height: 20px;
	position: absolute;
	font-size: 20px;
	top: -60px;
	right: 0;
	margin-right: 0;
	z-index: 2;
	color: #FFF;
	padding: 20px 24px;
	cursor: pointer;
	.transition-properties(all .3s ease-in-out);

	@media @desktop {
		display: none;
	}
	.icon-toggle-open {
		display: none;
	}
	.icon-toggle-close {
		display: block;
	}

	&.collapsed {
		right: 100%;
		margin-right: -72px;

		.icon-toggle-open {
			display: block;
		}
		.icon-toggle-close {
			display: none;
		}
	}
}

.main-nav {
  height: 60px;
  background: @magenta;
  color: #fff;
  position: absolute;
  width: 100%;
  top: -60px;
  .transition-properties(all .3s ease-in-out);

  	a {
	  text-decoration: none;	  
	}

	.nav-logo {
		background: url('/images/HUGE-logo.png') 0 0 no-repeat;
		height: 24px;
		width: 60px;
		float: left;
		margin: 24px 48px 24px 24px;
	}

	ul {
		position: absolute;
		top: 60px;
		width: 100%;
		@media @desktop {
			position: relative;
			top:auto;
			width: auto;
		}
	}

	.nav-item {
		position: relative;

		> a{
			display: block;
			font: @prim-nav-mobile;
			color:#000;
			padding: 0 24px;
			background-color: #FFF;

			&:hover {
				background-color:#FFF;
				color: @magenta;
			}
			
			@media @desktop {
				float: left;
				font: @prim-nav-desktop;
				padding: 12px 17px;
				background: none;
				color: #fff;
			}
			@media @desktop-large {
				padding: 12px 24px;
				font: @prim-nav-desktop-large;
			}
		}

		.sub-nav {
			display: none;
			background-color: #FFF;
			position: absolute;
			top: 72px;
			left: 0;
			padding: 12px 0;
			white-space: nowrap;
			z-index: 2;

			a{
				display: block;
				color: #000;
				padding: 0 24px;
				font: @secon-nav-desktop;

				&:hover{
					color: @magenta;
					background-color: @light-gray;
				}

				@media @desktop {
					font: @secon-nav-desktop;
					padding: 12px 17px;

				}
				@media @desktop-large {
					padding: 12px 24px;
					font: @secon-nav-desktop-large;
				}

			}
		}
	}

	&.collapse {
		.nav-logo,#main-nav-container  {
			display: none;
			@media @desktop {
				display: block;
			}
		}
	}
	@media @desktop {
		height: 72px;
		top:-72px;
	}
}

.content {
	max-width: 968px;
	padding: 0 24px;

	p{
		margin-bottom: 2em;
		text-align: justify;
	}

	@media @desktop {
		margin: 60px auto;
	}

	@media @desktop-large {
		padding: 0;
	}
}

.menu-open {
	.content, h1 {
		
	}
}
