.navbar-toggle{
	background: none;
	border: 0 none;
	line-height: 20px;
	position: absolute;
	font-size: 20px;
	top: -60px;
	right: 0;
	margin-right: 0;
	z-index: 3;
	color: #FFF;
	padding: 20px 24px;
	cursor: pointer;
	.transition-properties(all .3s ease-in-out);

	@media @desktop {
		display: none;
	}
	.icon-toggle-open {
		display: none;
	}
	.icon-toggle-close {
		display: block;
	}

	&.collapsed {
		right: 100%;
		margin-right: -72px;

		.icon-toggle-open {
			display: block;
		}
		.icon-toggle-close {
			display: none;
		}
	}
}

.main-nav {
  height: 60px;
  background: @magenta;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  .transition-properties(all .3s ease-in-out);

  	.nav-item-link {
	  text-decoration: none;	  
	}

	.nav-logo {
		background: url('/images/HUGE-logo.png') 0 0 no-repeat;
		height: 20px;
		width: 50px;
		background-size: 50px;
	    margin: 20px 20px 20px 24px;
		float: left;
		display: block;
	    opacity: 1;
	    .transition-properties(opacity .5s ease-in-out);
	    

		@media @desktop {
			height: 24px;
			width: 60px;
			display: block;
			opacity: 1;
			margin: 24px 48px 24px 24px;
			background-size: cover;
		}
	}

	#main-nav-container{
		position: fixed;
		top: 60px;
		left: 0;
		width: 90%;
		height: 100%;
		padding: 12px 0;
		background-color: #FFF;
		overflow-y: auto;
		.transition-properties(all .5s ease-in-out);
		@media @desktop {
			position: relative;
			top:auto;
			left: auto;
			width: auto;
			height: auto;
			background: none;
			padding: 0;
			overflow: visible;
		}
	}

	.nav-item {
		position: relative;

		&.has-children{
			&:after{
				font-family: 'huge-icons';
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;

				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				content: "\e600";

				position: absolute;
				right: 24px;
				color: @magenta;
				top: 18px;
				@media @desktop {
					display: none;
				}
			}
			&.open:after{
				content: "\e601";
			}
		}

		@media @desktop {
			float: left;
		}

		> .nav-item-link{
			display: block;
			font: @prim-nav-mobile;
			color:#000;
			padding: 0 24px;
			background-color: #FFF;

			&:hover {
				background-color: @light-gray;
				@media @desktop {
					background-color:#FFF;
					color: @magenta;
				}
			}
			
			@media @desktop {
				font: @prim-nav-desktop;
				padding: 12px 17px;
				background: none;
				color: #fff;
			}
			@media @desktop-large {
				padding: 12px 24px;
				font: @prim-nav-desktop-large;
			}
		}

		&.open {
			background-color:#FFF;
			
			.nav-item-link{
				@media @desktop {
					color: @magenta;
				}
			} 
			
			.sub-nav{
				position: relative;
			    top: auto;
			    left: auto;
			    padding: 0 0 5px 0;
			    max-height: 720px;
			    @media @desktop {
					padding: 12px 0;
					position: absolute;
					top: 72px;
					left: 0;
			    }
			}
		}


		.nav-item {
			float: none;
		}

		.sub-nav {
			background-color: #FFF;
			padding: 0;
			white-space: nowrap;
			z-index: 2;
			overflow: hidden;
			max-height: 0;
			.transition-properties(all .4s ease-in-out);

			@media @desktop {
				position: absolute;
				top: 72px;
				left: 0;
			}

			.nav-item-link{
				display: block;
				color: #000;
				padding: 0 24px;
				font: @secon-nav-desktop;
				line-height: 48px;

				&:hover{
					color: @magenta;
					background-color: @light-gray;
				}

				@media @desktop {
					font: @secon-nav-desktop;
					padding: 12px 17px;

				}
				@media @desktop-large {
					padding: 12px 24px;
					font: @secon-nav-desktop-large;
				}

			}
		}
	}

	&.collapsed {
		.nav-logo {
			opacity: 0;
			@media @desktop {
				opacity: 1;
			}
		}
		#main-nav-container  {
			left: -100%;
			@media @desktop {
				left:auto;
			}
		}
	}
	@media @desktop {
		position: absolute;
		height: 72px;
		top:-72px;
	}
}