/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 
Start HUGE Typefaces
*/
@font-face {
  font-family: 'HUGEAvantGardeBold';
  src: url("/fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/huge_agb_v5-webfont.woff") format("woff"), url("/fonts/huge_agb_v5-webfont.ttf") format("truetype"), url("/fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg");
}
@font-face {
  font-family: 'Galaxie';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/GalaxieCopernicus-Book.woff") format("woff"), url("/fonts/GalaxieCopernicus-Book.svg#svgFontName") format("svg");
}
@font-face {
  font-family: 'Galaxie';
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/GalaxieCopernicus-BookItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/GalaxieCopernicus-BookItalic.woff") format("woff"), url("/fonts/GalaxieCopernicus-BookItalic.svg#svgFontName") format("svg");
}
/* 
End HUGE Typefaces
*/
/* 
Start Icon handling
*/
@font-face {
  font-family: 'huge-icons';
  src: url('/fonts/huge-icons.eot?l3o5wp');
  src: url('/fonts/huge-icons.eot?#iefixl3o5wp') format('embedded-opentype'), url('/fonts/huge-icons.ttf?l3o5wp') format('truetype'), url('/fonts/huge-icons.woff?l3o5wp') format('woff'), url('/fonts/huge-icons.svg?l3o5wp#huge-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'huge-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-down:before {
  content: "\e600";
}
.icon-arrow-up:before {
  content: "\e601";
}
.icon-toggle-close:before {
  content: "\e602";
}
.icon-toggle-open:before {
  content: "\e603";
}
/* 
End Icon handling
*/
/* ====================================
			Base elements
   ==================================== */
body {
  position: relative;
  font: 14px/24px 'Galaxie', serif;
}
@media only screen and (min-width: 768px) {
  body {
    font: 24px/36px 'Galaxie', serif;
  }
}
p {
  margin-bottom: 2em;
  text-align: justify;
}
/* ====================================
		Common util classes
   ==================================== */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* ====================================
			General layout
   ==================================== */
.hero-image {
  background: url('/images/background-image.jpg') 50% 0 no-repeat;
  background-size: cover;
  position: relative;
  height: 300px;
  margin-top: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .hero-image {
    margin-top: 72px;
    height: 712px;
    margin-bottom: 0;
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  padding-bottom: 72px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.overlay.open {
  display: block;
  opacity: 1;
}
.main-title {
  position: relative;
  margin: 0;
  letter-spacing: -0.06em;
  color: #000;
  font: 44px/48px 'HUGEAvantGardeBold', sans-serif;
  text-align: left;
  padding: 0 24px;
  margin: 50px 0;
}
@media only screen and (min-width: 768px) {
  .main-title {
    position: absolute;
    font: 100px/1.1 'HUGEAvantGardeBold', sans-serif;
    color: #FFF;
    text-align: center;
    bottom: auto;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media only screen and (min-width: 990px) {
  .main-title {
    font: 120px/132px 'HUGEAvantGardeBold', sans-serif;
  }
}
.content {
  max-width: 968px;
  padding: 0 24px;
}
@media only screen and (min-width: 768px) {
  .content {
    margin: 60px auto;
  }
}
@media only screen and (min-width: 990px) {
  .content {
    padding: 0;
  }
}
.navbar-toggle {
  background: none;
  border: 0 none;
  line-height: 20px;
  position: absolute;
  font-size: 20px;
  top: -60px;
  right: 0;
  margin-right: 0;
  z-index: 2;
  color: #FFF;
  padding: 20px 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-toggle .icon-toggle-open {
  display: none;
}
.navbar-toggle .icon-toggle-close {
  display: block;
}
.navbar-toggle.collapsed {
  right: 100%;
  margin-right: -72px;
}
.navbar-toggle.collapsed .icon-toggle-open {
  display: block;
}
.navbar-toggle.collapsed .icon-toggle-close {
  display: none;
}
.main-nav {
  height: 60px;
  background: #ec008c;
  color: #fff;
  position: absolute;
  width: 100%;
  top: -60px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-nav .nav-item-link {
  text-decoration: none;
}
.main-nav .nav-logo {
  background: url('/images/HUGE-logo.png') 0 0 no-repeat;
  height: 24px;
  width: 60px;
  float: left;
  margin: 24px 48px 24px 24px;
}
.main-nav .sub-nav {
  position: absolute;
  top: 60px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .main-nav .sub-nav {
    position: relative;
    top: auto;
    width: auto;
  }
}
.main-nav .nav-item {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .main-nav .nav-item {
    float: left;
  }
}
.main-nav .nav-item > .nav-item-link {
  display: block;
  font: 21px/48px 'HUGEAvantGardeBold', sans-serif;
  color: #000;
  padding: 0 24px;
  background-color: #FFF;
}
.main-nav .nav-item > .nav-item-link:hover {
  background-color: #FFF;
  color: #ec008c;
}
@media only screen and (min-width: 768px) {
  .main-nav .nav-item > .nav-item-link {
    font: 16px/48px 'HUGEAvantGardeBold', sans-serif;
    padding: 12px 17px;
    background: none;
    color: #fff;
  }
}
@media only screen and (min-width: 990px) {
  .main-nav .nav-item > .nav-item-link {
    padding: 12px 24px;
    font: 21px/48px 'HUGEAvantGardeBold', sans-serif;
  }
}
.main-nav .nav-item.open {
  background-color: #FFF;
}
.main-nav .nav-item.open .nav-item-link {
  color: #ec008c;
}
.main-nav .nav-item.open .sub-nav {
  display: block;
  max-height: 720px;
}
.main-nav .nav-item .nav-item {
  float: none;
}
.main-nav .nav-item .sub-nav {
  display: none;
  background-color: #FFF;
  position: absolute;
  top: 72px;
  left: 0;
  padding: 12px 0;
  white-space: nowrap;
  z-index: 2;
  max-height: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-nav .nav-item .sub-nav .nav-item-link {
  display: block;
  color: #000;
  padding: 0 24px;
  font: 14px/30px 'Galaxie', serif;
}
.main-nav .nav-item .sub-nav .nav-item-link:hover {
  color: #ec008c;
  background-color: #eeeeee;
}
@media only screen and (min-width: 768px) {
  .main-nav .nav-item .sub-nav .nav-item-link {
    font: 14px/30px 'Galaxie', serif;
    padding: 12px 17px;
  }
}
@media only screen and (min-width: 990px) {
  .main-nav .nav-item .sub-nav .nav-item-link {
    padding: 12px 24px;
    font: 16px/48px 'Galaxie', serif;
  }
}
.main-nav.collapse .nav-logo,
.main-nav.collapse #main-nav-container {
  display: none;
}
@media only screen and (min-width: 768px) {
  .main-nav.collapse .nav-logo,
  .main-nav.collapse #main-nav-container {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .main-nav {
    height: 72px;
    top: -72px;
  }
}
